body {
	background-color: rgb(0, 0, 255, 0.2);
	margin: 0px;
	margin-right: 10px;
	margin-left: 5px;
	background-size: cover;
}

h {
	color: blue;
	font-family: fantasy;
}

H1 {
	border-top: 6px solid blue;
	border-right: 6px solid blue;
	border-bottom: 6px solid blue;
	text-align: center;
	cursor: pointer;
	box-shadow: 4px 4px 5px #888888;
}

/*Styles for Krishan Favourite Images*/

.container1, .container2{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container1 img {
	width: 300px;
	height: 370px;
	margin: 10px 10px 10px 10px;
	transition: all 1s;
}

.container2 img {
	width: 400px;
	height: 250px;
	margin: 10px 10px 10px 10px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}

li {
	list-style: none;
	box-shadow: 2px 2px 3px #888888;
	width: 250px;
	margin-top: 10px;
}

/*Styles for Krishan Robot Friend*/

.AndroidRobot {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}

.Head, .LeftArm, .Torso, .RightArm, .LeftLeg, .RightLeg {
	background-color: #5f93e8;
}

.Eyes {
	display: flex;
}

.LeftEye, .RightEye {
	height: 20px;
	width: 20px;
	border-radius: 15px;
	background-color: white;	
}

.Head {
	width: 200px;
	margin: 0 auto;
	height: 150px;
	border-radius: 200px 200px 0px 0px;
	margin-bottom: 10px;
	display: flex;
}

.LeftEye {
	position: relative;
	top: 100px;
	left: 40px; 
}

.RightEye {
	position: relative;
	top: 100px;
	left: 120px;
}

.UpperBody {
	width: 300px;
	height: 150px;
	display: flex;
}

.LowerBody {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	display: flex;
}

.LeftArm {
	width: 40px;
	height: 125px;
	border-radius: 100px;
}

.Torso {
	width: 200px;
	height: 200px;
	border-radius: 0px 0px 50px 50px;
	display: flex;
}


.RightArm {
	width: 40px;
	height: 125px;
	border-radius: 100px;
}


.LeftArm { 
	margin-right: 10px; 
} 

.RightArm { 
	margin-left: 10px; 
} 

.LeftLeg {
	width: 40px;
	height: 120px;
	border-radius: 0px 0px 100px 100px;
}

.RightLeg {
	width: 40px;
	height: 120px;
	border-radius: 0px 0px 100px 100px;
}

.LeftLeg {
	margin-left: 45px;
}

.RightLeg {
	margin-left: 30px;
}

.Head:hover {
	width: 300px;
	transition: 1s ease-in-out;
}

.Torso:hover{
	width: 400px;
	transition: 1s ease-in-out;
}

.LeftLeg:hover {
	transform: rotate(20deg);
}

.RightLeg:hover {
	transform: rotate(-20deg);
}

.LeftArm:Hover {
	transform: rotate(100deg);
}

.RightArm:Hover {
	transform: rotate(-100deg);
}

/*Landing Page*/

.Button {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 80px;
}

h2 {
	font-size: 100px;
	color: purple;
	text-align: center;
}